<html>
<head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
    <link href="/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <h2> A Simple ToDo List App </h2>

    <form action ="/addtask" method="POST">

        <input type="text" name="newtask" placeholder="add new task">
        <button> Add Task </button>


        <h2> Added Task </h2>

        <% for( var i = 0; i < task.length; i++){ %>
            <li><input class="todo_row" type="checkbox" name="check" value="<%= task[i] %>" /> <%= task[i] %> </li>
        <% } %>

        <button formaction="/removetask" class="btn btn-primary" type="submit" id="top"> Remove </button>
        <button formaction="/cleartask" class="btn btn-primary" type="submit" id="toc"> Clear </button>
        <button formaction="/logout" class="btn btn-primary"  type="submit" id="tod"> Logout </button>
    </form>

    <h2> Completed task </h2>

    <% for(var i = 0; i < complete.length; i++){ %>
        <li><input type="checkbox" checked><%= complete[i] %> </li>
    <% } %>


</div>
<script src="/http_code.jquery.com_jquery-2.1.3.js"></script>
<script src="/bootstrap.min.js"></script>
</body>

</html>